//$DarkGradient: #ff8b01;
$DarkGradient: linear-gradient(
  to bottom,
  #ff8b01,
  #cb5a2c,
  #8b3630,
  #471e23,
  #000000
);
$textColor: gray;
$TextFont: "Amatic SC", cursive;
$CodingEditorBg: rgb(4, 41, 58);

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  //background: $DarkGradient;
  // scroll-snap-align: start;
  //background start

  background-image: url("../../Images/stacked-waves-haikei.svg");
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  //animation: moveBg2 7s infinite;
  @keyframes moveBg2 {
    0% {
      background-position: bottom;
    }
    50% {
      background-position: center;
    }
    100% {
      background-position: bottom;
    }
  }

  .aboutMeContainer {
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%;
    //outline: solid red;

    .aboutMeTextContainer {
      margin-left: 100px;
      text-align: center;
      h1 {
        font-size: 4.5rem;
        color: #fff;
      }
      p {
        max-width: 350px;
        font-size: 1.5rem;
        color: $textColor;
        font-family: TextFont;
      }
    }
  }
}

.codingContainer {
  opacity: 0;
  width: 50%;
  height: 80vh;
  margin-left: 150px;
  //outline: solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(-3deg);
  .codingChild1 {
    z-index: 10;
    width: 80%;
    height: 5%;
    background: $CodingEditorBg;
    border-radius: 8px;
    margin-top: -500px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);

    span {
      width: 15px;
      height: 15px;
      position: absolute;
      background: rgb(255, 0, 0);
      border-radius: 50%;
      margin: 10px;
    }
    span:nth-child(2) {
      margin-left: 40px;
      background: yellow;
    }
    span:nth-child(3) {
      background: green;
      margin-left: 70px;
    }
  }

  .codingChild2 {
    position: absolute;
    display: flex;
    width: 80%;
    height: 50vh;
    background: $CodingEditorBg;
    border-radius: 8px;

    .codingCounter {
      text-align: center;
      width: 4%;
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 8px;

      p {
        margin-top: 18.8px;
        height: 15px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .codingChild3 {
    position: absolute;
    width: 70%;
    height: 70%;
    margin-top: 55px;
    p {
      margin-top: 20px;
      height: 15px;
    }
  }
}

//snakestyle

.snakeContainer {
  padding: 10px;
  position: absolute;
  width: 80%;
  height: 15%;
  background: #000;
  bottom: 85%;
  border-radius: 5px;

  .snake {
    position: absolute;
    animation: snakeMove 10s infinite;

    // @keyframes snakeMove {
    //   from {
    //     margin-left: 0%;
    //   }
    //   to {
    //     margin-left: 80%;
    //   }
    // }
  }
}
.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.codingTextContainer {
  position: absolute;
  margin-top: -2.3px;
  span {
    font-family: $TextFont;
    font-size: 25.5px;
    letter-spacing: 2px;
  }
}

// .codingTextContainer {
//   animation: codingTextShow 20s forwards;
//   opacity: 0;

//   @keyframes codingTextShow {
//     100% {
//       opacity: 1;
//     }
//   }
// }
