@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapperDiv {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 39%,
    rgba (0, 0, 0, 0) 41%,
    rgba (0, 0, 0, 0.65) 100%
  );
  background-size: 100%, cover;
  background-position: center;
  height: 600px;
  position: relative;
  animation: animateHeroImage 1s forwards;
}

.image {
  height: 600px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .text {
    max-width: 100%;
  }
}

@keyframes animateHeroImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
