@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  padding: 0 20px;
}
.flexContainer {
  padding: 20px 0;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .remdbLogo {
    width: 150px;
  }

  .tmdbLogo {
    width: 80px;
  }
}
